@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --yellow: hsl(47, 88%, 63%);
  --black: hsl(0, 0%, 7%);
  --gray: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --desktop-fs-head: 1.5rem;
  --mobile-fs-head: 1.25rem;
  --desktop-fs-body-desc: 1rem;
  --fs-body-info: 0.875rem;
  --mobile-fs-body-info: 0.75rem;
  --lh-body: 150%;
}

/* 1. RESET DASAR */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  letter-spacing: 0;
  line-height: var(--lh-body);
  font-size: var(--mobile-fs-body-info);
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: var(--white);
  width: 87.2%;
  max-width: 364px;
  border: solid var(--black) 1px;
  border-radius: var(--mobile-fs-head);
  padding: var(--desktop-fs-head);
  margin: auto;
  box-shadow: 8px 8px 0px 0px var(--black);
}

.illustration {
  width: 100%;
  border-radius: 10px;
}

.card > *:not(:last-child) {
  margin-bottom: var(--desktop-fs-head);
}

.content > *:not(:last-child) {
  margin-bottom: var(--mobile-fs-body-info);
}

.category {
  height: 15.02890173%;
  width: 26.16487455%;
  display: block;
  padding: 4px var(--mobile-fs-body-info);
  text-align: center;
  font-weight: 800;
  background-color: var(--yellow);
  border-radius: 4px;
}

.content h1 {
  font-size: var(--mobile-fs-head);
  font-weight: 800;
}

.content > a:hover {
  color: var(--yellow);
}

.content > a {
  display: block;
  color: var(--black);
  text-decoration: none;
}

.description {
  font-size: var(--fs-body-info);
  font-weight: 500;
  color: var(--gray);
}

.author {
  font-size: var(--fs-body-info);
  font-weight: 800;
  display: flex;
  gap: 12px;
  align-items: center;
}

.attribution {
  margin: 0 auto;
}

@media (min-width: 417.431192661px) {
  body {
    font-size: var(--fs-body-info);
  }
  .content h1 {
    font-size: var(--desktop-fs-head);
  }
  .description {
    font-size: var(--desktop-fs-body-desc);
  }
}
