@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  /* font family */
  --font-family-base: "Figtree", sans-serif;

  /* Font Weights */
  --font-weight-medium: 500;
  --font-weight-extra-bold: 800;

  /* font size scale */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-base: 0.875rem; /* 14px */
  --font-size-sm: 0.75rem; /* 12px */

  /* Spacing Scale */
  --spacing-500: 1.5rem; /* 24px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-50: 0.25rem; /* 4px */

  /* Border Radius */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.625rem; /* 10px */
  --radius-lg: 1.25rem; /* 20px */

  /* Line Heights */
  --line-height-base: 1.5;

  /* Letter Spacing */
  --letter-spacing-normal: 0;
}

@media (min-width: 417.431192661px) {
  :root {
    /* font size scale */
    --font-size-xl: 1.5rem; /* 24px */
    --font-size-base: 1rem; /* 16px */
    --font-size-sm: 0.875rem; /* 14px */
  }
}

/* 1. RESET DASAR */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-950);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-base);
  background-color: var(--color-yellow);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  justify-content: center;
}

.card {
  background-color: var(--color-white);
  width: 87.2%;
  max-width: 22.75rem;
  border: solid var(--color-gray-950) 1px;
  border-radius: var(--radius-lg);
  padding: var(--spacing-500);
  margin: auto;
  box-shadow: 8px 8px 0px 0px var(--color-gray-950);
}

.card > *:not(:last-child) {
  margin-block-end: var(--spacing-500);
}

.illustration {
  display: block;
  width: 100%;
  border-radius: var(--radius-md);
}

.content > *:not(:last-child) {
  margin-block-end: var(--spacing-150);
}

.category {
  height: 15.02890173%;
  width: 26.16487455%;
  display: block;
  padding: var(--spacing-50) var(--spacing-150);
  text-align: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-extra-bold);
  background-color: var(--color-yellow);
  border-radius: var(--radius-sm);
}

.content h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-extra-bold);
}

.content a {
  display: block;
  color: var(--color-gray-950);
  text-decoration: none;
}

.content a:hover {
  color: var(--color-yellow);
}

.published {
  font-size: var(--font-size-sm);
}

.description {
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}

.author {
  font-size: 0.875rem;
  font-weight: var(--font-weight-extra-bold);
  display: flex;
  gap: var(--spacing-150);
  align-items: center;
}

.author img {
  width: 32px;
  height: 32px;
}

.attribution {
  font-size: var(--font-size-sm);
  margin: 0 auto;
}
